body {
  background-color: lightblue;
}
#divMain{
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 90vh;
}
#divHead{
  height: 15vh;
  background-color: red;
  font-size: 45pt;
  text-align: center;
}
#divMenu{
  height: 10vh;
  background-color: orange;
}
.divButton b1{
  float: left;
  height: 8vh;
  width: 10vh;
  background-color: red;
  margin-top: 1vh;
  margin-left: 6vh;
}
.divButton b2{
  float: left;
  height: 8vh;
  width: 10vh;
  background-color: red;
  margin-top: 1vh;
  margin-left: 7vh;
}
.divButton b3{
  float: left;
  height: 8vh;
  width: 10vh;
  background-color: red;
  margin-top: 1vh;
  margin-left: 7vh;
}
.divButton b4{
  float: left;
  height: 8vh;
  width: 10vh;
  background-color: red;
  margin-top: 1vh;
  margin-left: 7vh;
}
.divButton b5{
  float: left;
  height: 8vh;
  width: 10vh;
  background-color: red;
  margin-top: 1vh;
  margin-left: 7vh;
}
#divBody{
  height: 65vh;
  background-color: green;
}
#divFoot{
  height: 10vh;
  background-color: lightcoral;
}
